.shortLink-container {
    margin-top: 20px;
    height: 80px;
}

.shortLink-div {
    background-color: var(--green-btn);
    background-color: #5CBFDF;
    width: fit-content;
    /* height: 100%; */
    position: relative;
    border-radius: 10px;
    padding: 30px;
}

.shortLink-icon {
    color: white;
}

.shortLink-input {
    border: none;
    color: white;
    width: auto;
    outline: none;
    margin-left: 10px;
}

.input {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
  color: white;
}

.shortLink-copy-icon {
    /* position: absolute;
    top: 10px;
    right: 10px; */
    color: white;
    margin-left: 10px;
}

.progress-bar {
    width: 100px;
    height: 5px;
}

#error-color {
    background-color: rgb(226, 60, 60);
}